@use "../definition/mixin" as *;
@use "../definition/var" as *;

.lyt-content {
  display: flex;
  gap: 16px;
  width: 100%;

  @include rwd(bpSp) {
    margin: 120px auto 0;
    max-width: 800px;

    + .lyt-content {
      margin: 60px auto 0;
    }
  }

  @include rwd(bpSp, below) {
    margin: 60px auto 0;
    flex-direction: column-reverse;
  }

  &--reverse {
    @include rwd(bpSp) {
      display: flex;
      flex-direction: row-reverse;
      gap: 16px;
    }
  }
}

.lyt-item {
  &__img {
    position: relative;

    @include rwd(bpSp) {
      flex-shrink: 4;
    }
  }

  &__text {
    width: 100%;
  }
}

.lyt-playlist {
  &__wrap {
    display: flex;
    gap: 16px;

    @include rwd(bpSp, below) {
      flex-direction: column;
    }
  }

  &__item {
    display: block;

    @include rwd(bpSp) {
      width: calc((100% / 2) - 8px);
    }
  }
}
