/* stylelint-disable scss/dollar-variable-pattern */
.hdg-a {
  text-align: center;
}
@media print, screen and (max-width: 768px) {
  .hdg-a {
    margin-bottom: 10px;
  }
}
@media print, screen and (min-width: 769px) {
  .hdg-a {
    margin-bottom: 20px;
  }
}
.hdg-a__text {
  display: inline-block;
  position: relative;
  font-weight: bold;
  line-height: 1.5;
  color: #fefefe;
}
@media print, screen and (max-width: 768px) {
  .hdg-a__text {
    font-size: 2rem;
  }
}
@media print, screen and (min-width: 769px) {
  .hdg-a__text {
    font-size: 2.4rem;
  }
}
.hdg-a__text::before {
  display: block;
  position: absolute;
  content: "";
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 1000px;
  background: linear-gradient(90deg, rgba(141, 245, 247, 0.7) 0%, rgba(163, 255, 255, 0.7) 35%, rgba(255, 255, 255, 0.7) 50%, rgba(255, 234, 107, 0.7) 65%, rgba(251, 226, 74, 0.7) 100%);
  filter: blur(16px);
}