/* stylelint-disable scss/dollar-variable-pattern */
.lyt-content {
  display: flex;
  gap: 16px;
  width: 100%;
}
@media print, screen and (min-width: 769px) {
  .lyt-content {
    margin: 120px auto 0;
    max-width: 800px;
  }
  .lyt-content + .lyt-content {
    margin: 60px auto 0;
  }
}
@media print, screen and (max-width: 768px) {
  .lyt-content {
    margin: 60px auto 0;
    flex-direction: column-reverse;
  }
}
@media print, screen and (min-width: 769px) {
  .lyt-content--reverse {
    display: flex;
    flex-direction: row-reverse;
    gap: 16px;
  }
}

.lyt-item__img {
  position: relative;
}
@media print, screen and (min-width: 769px) {
  .lyt-item__img {
    flex-shrink: 4;
  }
}
.lyt-item__text {
  width: 100%;
}

.lyt-playlist__wrap {
  display: flex;
  gap: 16px;
}
@media print, screen and (max-width: 768px) {
  .lyt-playlist__wrap {
    flex-direction: column;
  }
}
.lyt-playlist__item {
  display: block;
}
@media print, screen and (min-width: 769px) {
  .lyt-playlist__item {
    width: calc(50% - 8px);
  }
}